
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background: #29235F;
}

h1 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 700;
    color: #fff;
}
div#meet {
    text-align: center;
    border: 10px solid #f5c423 ;
    border-radius: 5px;
    height: 525px;
    width: 1000px;
    margin: 0 auto;
}