@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Denk+One&display=swap');

* {
    /* outline: 1px dotted purple; */
    margin: 0;
}

.header {
    display: inline;
}
nav {
    background-color: #100E26;
    position: sticky;  /* agar posisi navigasi tetap tampil meskipun di scroll */
    top: 0;
    z-index: 2;
    /*box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.6); */
    height: 80px;
    width: 100%;
}
.header img {
    width: 45px;
    max-width: 100%;
    position: absolute;
    margin: 1.4%;
}

.header h1 {
    position: absolute;
    left: 6%;
    top: 23%;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

/* .active {
    visibility: visible;
    opacity: 1;
} */



#span {
    display: none;
    text-align: center;
}

.modal {
    font-family: 'Della Respira', Arial, sans-serif;
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal h3 {
    margin: 0 0 15px;
    text-align: center;
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

#box-confirmation {
    margin: 0 20%;
    padding: 0 10px;
}

.button {
    margin: 0 10px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #ffffff;
    position: relative;
    cursor: pointer;
}

.button.yes {
    background: rgb(26, 188, 156);
}

.button.yes:hover {
	background: rgb(29, 200, 166);
}

.button.no {
    background: rgb(216, 73, 90);
}

.button.no:hover {
	background: rgb(231, 79, 97);
}

.button:before {
	content: "";
    position: absolute;
    width: 800px;
    height: 800px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%)scale(0);
    border-radius: 50%;
    z-index: 10;
    -webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	-webkit-transition-timing-function: cubic-bezier(.4,0,.5,1);
	-moz-transition-timing-function: cubic-bezier(.4,0,.5,1);
	transition-timing-function: cubic-bezier(.4,0,.5,1);
}

.yes:before {
    background: rgba(26, 188, 156, 1);
}

.no:before {
    background: rgb(216, 73, 90);
}

.button.active:before {
	transform: translateX(-50%)translateY(-50%)scale(1);
}


/* NO REPLY */

.no-reply:before,.no-reply:after {
	content: "";
    position: absolute;
    width: 0px;
    height: 10px;
    background: white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    transform-origin: top left;
}

.no-reply:before {
    -webkit-transform: rotate(-45deg)translateX(-50%)translateY(-50%);
    -moz-transform: rotate(-45deg)translateX(-50%)translateY(-50%);
    transform: rotate(-45deg)translateX(-50%)translateY(-50%);
}

.no-reply:after {
    -webkit-transform: rotate(45deg)translateX(-50%)translateY(-50%);
    -moz-transform: rotate(45deg)translateX(-50%)translateY(-50%);
    transform: rotate(45deg)translateX(-50%)translateY(-50%);
}

.no-reply.active:before,.no-reply.active:after {
	width: 50px;
}


  
.popup {
    margin: 150px auto;
    padding: 25px;
    background: #695fc9ce;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}
  
.popup h2 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-family: Tahoma, Arial, sans-serif;
    text-decoration: underline;
    text-align: center;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

.popup .content {
    /* max-height: 70%;
    overflow: auto; */
    font-size: 1.1rem;
    text-align: center;
    padding: 10px 15px;
    color: #fff;
}

.content p {
    font-family: 'Della Respira', Arial, sans-serif;
}

.join-btn {
    border: 2px solid #cf367e;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #cf367e;
    padding: 5px 10px;
    color: #fff;
    font-size: 12pt;
    font-weight: 600;
    transition: background-color .3s,box-shadow .3s,text-shadow .3s,color .3s;
    text-decoration: none;
    font-family: 'Della Respira', Arial, sans-serif;
}

.join-btn:hover {
	background: linear-gradient(to right,#9d00ff,#cf367e); 
}

.catalogue-btn {
    border: 2px solid #cf367e;
    margin-left: 10px;
    border-radius: 10px;
    background-color: #cf367e;
    padding: 5px 20px;
    color: #fff;
    font-size: 12pt;
    font-weight: 600;
    transition: background-color .3s,box-shadow .3s,text-shadow .3s,color .3s;
    text-decoration: none;
    font-family: 'Della Respira', Arial, sans-serif;
}

.catalogue-btn:hover {
	background: linear-gradient(to right,#9d00ff,#cf367e); 
}


#maps {
    /* Center vertically and horizontally */
    /* position: absolute; */
    background-color: #29235F;
    margin:0 auto;
    width: 100%;
    padding: 2.5% 0;
    text-align: center;
    /* margin-top: 50px; */
}

#score {
    /* position: relative; */
    color: red;
    margin: 10px;
    font-size: 20pt;
    background-color: white;
    font-weight: 700;
    text-align: center;
}

.gateway {
    width: 50px;
    height: 25px;
    background-image: url('../img/gateway.png');
    display: inline-block;
}


div {
    margin: 0 auto;
    vertical-align: top;

}


.plane {
    width: 50px;
    height: 50px;
    background: white;
    display: inline-block;
}

.enter {
    width: 50px;
    height: 50px;
    background-image: url('../img/enter.png');
    display: inline-block;
}
.exit {
    width: 50px;
    height: 50px;
    background-image: url('../img/exit.png');
    display: inline-block;
}

.fake-wall-Y {
    width: 50px;
    height: 25px;
    background: white;
    display: inline-block;
}

.fake-wall-X {
    width: 25px;
    height: 50px;
    background: white;
    display: inline-block;
}

.fake-wall-mini {
    width: 25px;
    height: 25px;
    background: white;
    display: inline-block;
}



.booth-line {
    width: 1250px;
    height: 50px;
    background-image: url('./../img/booth-line.png');
    display: inline-block;
}

.booth-left-1{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kiri-1.png');
    display: inline-block;
}
.booth-left-2{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kiri-2.png');
    display: inline-block;
}
.booth-left-3{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kiri-3.png');
    display: inline-block;
}
.booth-left-4{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kiri-4.png');
    display: inline-block;
}
.booth-left-5{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kiri-5.png');
    display: inline-block;
}
.booth-left-6{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kiri-6.png');
    display: inline-block;
}

.booth-right-1{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kanan-1.png');
    display: inline-block;
}
.booth-right-2{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kanan-2.png');
    display: inline-block;
}
.booth-right-3{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kanan-3.png');
    display: inline-block;
}
.booth-right-4{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kanan-4.png');
    display: inline-block;
}
.booth-right-5{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kanan-5.png');
    display: inline-block;
}
.booth-right-6{
    width: 50px;
    height: 50px;
    background-image: url('./../img/booth-kanan-6.png');
    display: inline-block;
}









.avatar {
    width: 50px;
    height: 50px;
    background-image: url('./../img/avatar.png');
    display: inline-block;
}

.wall-top {
    width: 50px;
    height: 50px;
    background-image: url('./../img/wall.png');
    display: inline-block;
}

.wall-bot {
    width: 50px;
    height: 50px;
    background-image: url('./../img/wall.png');
    display: inline-block;
    transform: scaleY(-1);
}

.wall-left {
    width: 50px;
    height: 50px;
    background-image: url('./../img/wall.png');
    display: inline-block;
    transform: rotate(270deg);
}

.wall-top-left {
    width: 50px;
    height: 50px;
    background-image: url('./../img/wall-corner.png');
    display: inline-block;
    transform: rotate(180deg);
}

.wall-bot-left {
    width: 50px;
    height: 50px;
    background-image: url('./../img/wall-corner.png');
    display: inline-block;
    transform: rotate(270deg);
}

.wall-right {
    width: 50px;
    height: 50px;
    background-image: url('./../img/wall.png');
    display: inline-block;
    transform: rotate(90deg);
}

.wall-top-right {
    width: 50px;
    height: 50px;
    background-image: url('./../img/wall-corner.png');
    display: inline-block;
    transform: rotate(90deg);
}

.wall-bot-right {
    width: 50px;
    height: 50px;
    background-image: url('./../img/wall-corner.png');
    display: inline-block;
}



.concert-top-left {
    width: 50px;
    height: 50px;
    background-image: url('./../img/concert-top-left.png');
    display: inline-block;
}

.concert-top-center {
    width: 50px;
    height: 50px;
    background-image: url('./../img/concert-top-center.png');
    display: inline-block;
}

.concert-top-right {
    width: 50px;
    height: 50px;
    background-image: url('./../img/concert-top-right.png');
    display: inline-block;
}

.concert-mid-left {
    width: 50px;
    height: 50px;
    background-image: url('./../img/concert-mid-right.png');
    display: inline-block;
    transform: scaleX(-1);
}

.concert-mid-center {
    width: 250px;
    height: 50px;
    background-image: url('./../img/concert-mid-center.png');
    display: inline-block;
    text-align: center;
    font-size: 20pt;
}

.concert-mid-center-new {
    position: absolute;
    width: 335px;
    height: 235px;
    /* background-image: url('./../img/concert-mid-center.png'); */
    /* clip-path: url('https://www.youtube.com/embed/xu9j8jy8hj4'); */
    display: inline-block;
    text-align: center;
    font-size: 20pt;
    margin-top: 8px;
    margin-left: 7px;
}

iframe {
    position: absolute;
    width: 335px;
    height: 235px;
    left: 30.1rem;
    top: 23.3rem;
}

@media screen and (min-width: 1900px) {
    iframe {
        position: absolute;
        width: 335px;
        height: 235px;
        left: 48rem;
        top: 24.1rem;
        margin-right: 100px;
    }
}


.concert-mid-center-fake {
    /* position: absolute; */
    width: 50px;
    height: 50px;
    background-image: url('../img/concert-mid-center.png');
    display: inline-block;
}

.concert-mid-right {
    width: 50px;
    height: 50px;
    background-image: url('./../img/concert-mid-right.png');
    display: inline-block;
}


.concert-bot-left {
    width: 50px;
    height: 50px;
    background-image: url('./../img/concert-top-left.png');
    display: inline-block;
    transform: scaleY(-1);
}

.concert-bot-center {
    width: 50px;
    height: 50px;
    background-image: url('./../img/concert-top-center.png');
    display: inline-block;
    transform: scaleY(-1);
}

.concert-bot-right {
    width: 50px;
    height: 50px;
    background-image: url('./../img/concert-top-right.png');
    display: inline-block;
    transform: scaleY(-1);
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
    background-color: #fff;
    color: white;
    text-align: center;
 }

/* .footer {
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    background: #FFFFFF;
    display: block;
    top: 920px;
    bottom:0;
} */
.footer p{
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    vertical-align: top;
    color: #000000;
}