@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background: #29235F;
}

* {
    box-sizing: border-box;
  }

.header {
    display: inline;
}
nav {
    background-color: #100E26;
    position: sticky;  /* agar posisi navigasi tetap tampil meskipun di scroll */
    top: 0;
    z-index: 2;
    /*box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.6); */
    height: 80px;
    width: 100%;
}
.header img {
    width: 45px;
    max-width: 100%;
    position: absolute;
    margin: 1.4%;
}

.header h1 {
    position: absolute;
    left: 6%;
    top: -7%;
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
}

.container #img-1 img{
    position: absolute;
    width: 10%;
    left: 7%;
    top: 20%;
    opacity: 0.7;
}
.container #img-2 img{
    position: absolute;
    width: 10%;
    left: 80%;
    top: 20%;
    opacity: 0.7;
}
.container #img-3 img{
    position: absolute;
    width: 7%;
    left: 9%;
    top: 60%;
    opacity: 0.7;
}
.container #img-4 img{
    position: absolute;
    width: 6%;
    left: 81%;
    top: 60%;
    opacity: 0.7;
}

/* LOGIN OR REGISTER 
.buttonChoosen {
    position: absolute;
    width: 400px;
    height: 200px;
    top: 70%;
    left: 54%;
    margin-left: -210px;
    margin-top: -210px;
}

#login {
    background: #eaa221;
    border-radius: 80px 0 0 80px;
    text-align: center;
}
#register {
    background: #ffc75f;
    border-radius: 0 80px 80px 0;
    text-align: center;
}
.box-column {
    float: left;
    width: 50px;
    max-width: 100%;
    height: 150px;
    width: 150px;
    padding: 7% 0;
}
.box-column p {
    text-align: center;
    font-family: 'Signika', sans-serif;
    font-size: 12pt;
}

.box-column .btn-login {
	order: 3px solid #3a3938;
    border-radius: 60px;
    background-color: #3a3938;
    color: #fff;
    transition: background-color .3s,box-shadow .3s,text-shadow .3s,color .3s;
    padding: 7px 7%;
    text-decoration: none;
    font-weight:700;
}

.box-column .btn-login:hover {
	background: linear-gradient(to left,#3a3938,#999898 50%,#c0bebe); 
	color: #fff;
}

.box-column .btn-register {
	order: 3px solid #cf367e;
    border-radius: 60px;
    background-color: #cf367e;
    color: #fff;
    transition: background-color .3s,box-shadow .3s,text-shadow .3s,color .3s;
    padding: 7px 7%;
	text-decoration: none;
}

.box-column .btn-register:hover {
	background: linear-gradient(to right,#9d00ff,#cf367e); 
} */


/* MAIN PAGE */

.mainImg {
    position: absolute;
    top: 60%;
    left: 50%;
    margin-left: -275px;
    margin-top: -200px;
}

.btn-register {
    color: #fff;
    width: 100px;
    padding: 10px 1.3%;
    text-decoration: none;
    font-weight:700;
    margin-top: 25px;
    margin-right: 2.5%;
    float: right;
    border: 1px solid transparent;
    border-radius: 13px;
    background-color: #F4A31A !important;
}

.btn-login {
    color: #fff;
    width: 100px;
    padding: 10px 2.1%;
    text-decoration: none;
    font-weight:700;
    margin-top: 25px;
    margin-right: 2%;
    float: right;
    border-bottom: 1px solid transparent;
    border-radius: 13px;
    background-color: #F4A31A !important;
}

/* REGISTER FORM */

.registForm {
    position: absolute;
    width: 400px;
    height: 450px;
    top: 50%;
    left: 50%;
    margin-left: -210px;
    margin-top: -210px;
    background: #1B1741;
    border-radius: 15px;
    /*display: none;  /* menyembunyikan tampilan register */
}
.registForm p {
    font-family: Cambria;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    color: #FFFFFF;
}
#emailForm {
    margin : 50px 20px 0;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#emailField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
}
#passwordForm {
    margin : 10px 20px;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#passwordField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
}
#rePasswordForm {
    margin : 10px 20px;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#rePasswordField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
}
#signUp {
    position: absolute;
    width: 125px;
    height: 45px;
    margin : 0 33%;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    background: #342B83;
    border-radius: 15px;
}
.signIn {
    position: relative;
    top: 485px;
}
.signIn p{
    font-family: Cambria;
    font-style: normal;
    font-size: 9pt;
    text-align: center;
    color: #acabab;
}
a:link {
    color: #cccccc;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}


.footer {
    display: inline;
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 92.3%;
    background: #FFFFFF;
}
.footer p{
    font-family: Cambria;
    font-style: normal;
    font-weight: bold;
    font-size: 12pt;
    text-align: center;
    color: #000000;
}



/* LOGIN FORM */

.loginForm {
    position: absolute;
    width: 400px;
    height: 350px;
    top: 55%;
    left: 50%;
    margin-left: -210px;
    margin-top: -210px;
    background: #1B1741;
    border-radius: 15px;
    /*display: none;  /* menyembunyikan tampilan register */
    
}
.loginForm p {
    font-family: Cambria;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    color: #FFFFFF;
}
#emailForm {
    margin : 50px 20px 0;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#emailField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
}
#passwordForm {
    margin : 10px 20px;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#passwordField {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 7px;
}
#rePasswordForm {
    margin : 10px 20px;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#login {
    position: absolute;
    width: 125px;
    height: 45px;
    margin : 0 33%;
    color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 12pt;
    background: #342B83;
    border-radius: 15px;
}
.signUp {
    position: relative;
    top: 425px;
}
.signUp p{
    font-family: Cambria;
    font-style: normal;
    font-size: 9pt;
    text-align: center;
    color: #acabab;
}
a:link {
    color: #cccccc;
    font-weight: bold;
    background-color: transparent;
    text-decoration: none;
}


/* INPUT PAGE */
.inputBox {
    position: absolute;
    width: 95%;
    height: 525px;
    top: 48%;
    left: 18%;
    margin-left: -210px;
    margin-top: -210px;
    background: #1B1741;
    /*display: none;  /* menyembunyikan tampilan register */
}

.idJoin p {
    color: #fff;
    padding: 10px 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13pt;
    font-weight: 600;
}
.idJoin .idJoinBox {
    background-color: #342B83;
    margin:-15px 50px;
    width: 150px;
    height: 40px;
}

.idJoin .idJoinBox p {
    color: #868686;
    text-align: center;
    padding: 10px 0;
    font-size: 12pt;
    font-weight: 500;
}

.typeInput {
    margin:50px 50px;
}

.inputLabel {
    color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13pt;
    font-weight: 600;
}

#type-selection {
    width: 175px;
    font-size: 10pt;
    font-weight: bold;
    height: 30px;
    background-color: #342B83;
    color: #fff;
}

.fileAttachment {
    position: absolute;
    margin:-15px 50px;
}

#myfile {
    border: 1px solid #fff;
    padding: 5px;
    background-color: #342B83;
}




/* DASHBOARD PAGE */

h2#title {
    margin: 1em 1.5em 0 ;
    color: #fff;
    font-family: Cambria;
    letter-spacing: 1px;
    font-size: 2rem;
    text-align: center;
}

.table {
  margin: 15px auto;
  width: 90%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
  font-size: 13pt;
}
.table .tc {
    text-align: center;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #e9e9e9;
}
.row:nth-of-type(odd) {
  background: #cfcfcf;
}
.row.header {
  font-weight: 700;
  color: #ffffff;
  background: #0e0b31cb;
  line-height: 25px;
  font-size: 15pt;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 14px 0 7px;
    display: block;
  }
  .row.header {
    padding: 0;
    height: 6px;
  }
  .row.header .cell {
    display: none;
  }
  .row .cell {
    margin-bottom: 10px;
  }
  .row .cell:before {
    margin-bottom: 3px;
    content: attr(data-title);
    min-width: 98px;
    font-size: 10px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #969696;
    display: block;
  }
}

a.btn-join {
    border: 2px solid #29235F;
    border-radius: 10px;
    padding: 2px 10px;
    background-color: #29235F;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;

}

.cell {
  padding: 10px 12px;
  display: table-cell;
  /* border-right: 3px solid rgb(170, 170, 170); */
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 16px;
    display: block;
  }
}